<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{appName}}| {{pageName}} </title>
  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/jquery/dist/jquery.min.js"></script>
  <script src="/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/scripts/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.5.2/firebase.js"></script>
  <script src="/api/get-firebase-config"></script>
  <script>
    $('#myTabs a').click(function(e) {
      e.preventDefault()
      $(this).tab('show')
    })
  </script>
</head>

<body>
  <!--  Top navbar -->
  <div class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
          <img alt="{{pageName}}" />
        </a>
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expande="false">
              <img src="{{user.photoURL}}" width="30" class="rounded-corners"/>
              <span>{{user.displayName}}</span>
              <span class="glyphicon glyphicon-cog ng-scope" arria-hidden="true"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">
                Stuff
              </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
        </ul>
        </li>
      </div>
    </div>
  </div>
  <!-- End of the top navbar -->

  <!-- Start of the pagination -->
  <div class="container">

    <!-- <ul class="nav nav-tabs nav-justified"> -->
    <!-- <li role="presentation" class="active"><a href="#">Home</a> -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Info</a></li>
      <li role="presentation"><a href="#graph" aria-controls="graph" role="tab" data-toggle="tab">Graph</a></li>
      <li role="presentation"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Data</a></li>
      <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <h1>Device Configuration</h1> {% for key,value in device %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{key}}</h3>
          </div>
          <div class="panel-body overflow-scroll">
            {{value}}
          </div>
        </div>
        {% endfor%}
      </div>
      <div role="tabpanel" class="tab-pane" id="graph">
        <h1>Graph</h1>
        <div class="graph"></div>
        <link rel="stylesheet" type="text/css" href="/css/graph.css">
        <script src="http://d3js.org/d3.v3.min.js"></script>
      </div>
      <div role="tabpanel" class="tab-pane" id="data">
        <div id = "data-pile">
        </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="settings">...</div>
    </div>
  </div>

  <script src="/js/graph.js"></script>
  <script src="/js/dashboard.js"></script>
</body>

</html>
